/*align Start*/
.vat {
  &,
  &_ > view,
  &_ > text {
    vertical-align: top;
  }
}

.vab {
  &,
  &_ > view,
  &_ > text {
    vertical-align: bottom;
  }
}

.vam {
  &,
  &_ > view,
  &_ > text {
    vertical-align: middle;
  }
}
/*align End*/
