/**float Start**/
.l {
  &,
  &_ > view,
  &_ > text {
    float: left;
  }
}

.r {
  &,
  &_ > view,
  &_ > text {
    float: right;
  }
}

.lfix_ {
  @extend .clearfix;
  &_ > view,
  &_ > text {
    float: left;
  }
}

.rfix_ {
  @extend .clearfix;
  &_ > view,
  &_ > text {
    float: right;
  }
}

.lrfix_ {
  @extend .clearfix;
  view:first-child,
  text:first-child {
    float: left;
  }

  view:first-child,
  text:first-child {
    float: right;
  }
}

/**float  End**/
